<h1>Vprašanja:</h1>
{{#each questions}}
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  Objavil:
  <span>{{postedBy.username}}, </span>
  <span>{{createdAt}}</span>
  <br /><a type='button' href='/questions/{{_id}}'>Več</a>
  <hr />
{{/each}}